body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}
.form {
    width: 300px;
    position: absolute;
    padding: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2d545e;
}
.form h1 {
    text-align: center;
}
input, button {
    border: none;
    padding: 4px;
}
.textbox {
    margin-bottom: 2em;
}
.radio {
    padding: 1em;
}
/* .radio label {
    padding: 5px;
} */
button {
    float: right;
    background-color: #fff;
    color: #2d545e;
    font-weight: bold;
    margin: 0.5em;
}
.greeting {
    clear: both;
}